body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
}

/* Style for the counters and the button */
.counters {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.play {
    display: grid;
    width: 25%;
}

.play div:last-child {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.play a img {
    width: 8%;
    float: right;
    margin: 0.2rem;
}

.wins-losses {
    width: 50%;
    height: 10%;
    text-align: center;
    font-size: 1.5em;
}

.btn-play {
    width: 30%;
    padding: 10px;
    font-size: 2em;
    border-radius: 5px;
    background-color: chocolate;
    color: cornsilk;
    cursor: pointer;
}

.btn-play:disabled {
    background-color: rgba(210, 105, 30, 0.712);
}

/* Style for the modals */
.modal-rules, .modal-lost, .modal-gameover, .modal-won {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: auto; Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content-rules, .modals-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
}

.modal-content-rules {
    width: 50%;
}

.headerModal-rules, .modals-content {
    display: grid;
    grid-template-columns: 90% 10%;
}

.headerModal-rules {
    grid-template-areas: 'title close'    
}

.headerModal-rules h1 {
    grid-area: 'title';
    justify-self: center;
}

.close-rules, .close-modals {
    cursor: pointer;
    font-weight: bold;
}

.close-rules {
    grid-area: 'close';
    justify-self: end;    
}

.close-rules:hover, .close-modals:hover {
    color: crimson;
}

.rules {
    list-style-type: circle;
}

.rules li {
    padding: 3px;
}

.modals-content {
    grid-template-areas: 'message closeModals';
    width: 30%;
    font-size: 2em;
}

.message {
    grid-area: 'message';
    justify-self: center;
}

.close-modals {
    grid-area: 'closeModals';
    justify-self: end;
}

/* Style for the cards */
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 100vh;
}

.card {
    width: 20%;
    height: 30%;
    border: black 1px solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2em;
    box-shadow: 3px 3px 6px gray;
    background-color: gainsboro;
    color: white;
}

.cardContainer div.textHidden {
    color: gainsboro;
}
